    * {
        margin: 0;
        padding: 0;
        scroll-padding-top: 1rem;
        scroll-behavior: smooth;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    :root {
        --main-color: #86ba09;
        --text-color: #020102;
        --bg-color: #fff;
    }
    
    img {
        width: 100%;
    }
    
    body {
        color: var(--bg-color);
    }
    
    .Title_Content h4 a {
        color: #d4d4d4;
        font-size: 16px;
        font-weight: bold;
    }
    
    h4 p,
    #labeldorp {
        color: black;
        font-size: 16px;
    }
    
    .Title_Content h4 a:hover {
        color: #090909bb;
        font-size: 16px;
        font-weight: bold;
    }
    
    .TopContent {
        display: flex;
        justify-content: space-between;
        margin-left: -1rem;
        flex-flow: row wrap;
    }
    
    .TopContent .Title_Content {
        flex: 1 0;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    
    .TopContent .Dropdown_sort {
        flex: 1 0;
        /* margin-right: 1rem; */
        margin-bottom: 1rem;
        padding: 1rem;
        position: fixed;
        right: 5%;
    }